@import "../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css"; 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Oswald", sans-serif;
    color:white;
}

ul{
    list-style-type: none;
    margin-bottom: -1rem;
}

i{
    margin-right: 5px;
}

a{
    text-decoration: none;
    color: white;
}

.btn{
    font-size: 1.125rem;
    color: #ff0052;
    font-weight: 700;
    transition: 0.3s cubic-bezier(0.79, 0.14, 0.15, 0.86);
    padding: 0 1rem;
    line-height: 3rem;
    text-transform: uppercase;
    line-height: 60px;
    border-radius: 3px;
    position: relative;
    box-shadow: 0.2rem 0.2rem 0.5rem rgb(0 0 0 / 20%);
}

.btn::after, .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s cubic-bezier(0.79, 0.14, 0.15, 0.86);
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

.btn::before{
    background-color: #fff;
    z-index: 1;
    box-shadow: 0.2rem 0.2rem 0.5rem rgb(0 0 0 / 20%);
}

.btn::after{
    background-color: #ff0052;
    transform: translate(4px, 4px);
    z-index: 0;
}

.btn:hover:before {
    background-color: #ff0052;
}

.btn:hover:after {
    background-color: #fff;
    transform: translate(-4px, -4px);
}

.btn span, .btn i {
    position: inherit;
    z-index: 2;
}

.subtitle-white{
    text-transform: uppercase;
    font-weight: 700;
}

.subtitle-rose{
    font-size: 1.125rem;
    color: #ff0052;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    letter-spacing: 3px;
}
